body {
  font-family: "Inter", sans-serif !important;
}

small {
  font-size: .7em !important;
}

/* NAVBAR */

.navbar-brand {
  padding-left: 16px;
}
.navbrand-header {
  background: url("/balidogfinder_logo.png");
  height: 50px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbrand-header:hover {
  background: url("/balidogfinder_logo_reverse.png");
  height: 50px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

.dropdown-item {
  font-size: 0.8rem;
  color: #7c3aed !important;
}

.dropdown-item:hover {
  color: white !important;
  background-color: #7c3aed !important;
}

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  color: white !important;
  padding: 30px 10px !important;
  text-transform: uppercase;
}

.nav-link:hover {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  color: #7c3aed !important;
  background-color: white !important;
  padding: 30px 10px !important;
}


.navbar-custom {
  background-color: #7c3aed !important;
  -webkit-box-shadow: 0px 12px 15px -8px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 12px 15px -8px rgba(0, 0, 0, 0.37);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.sign-in {
  padding-right: 26px !important;
  padding-left: 26px !important;
}

.sign-in:hover {
  padding-right: 26px !important;
  padding-left: 26px !important;
}

#collasible-nav-dropdown-locations[aria-expanded="true"] {
  background-color: white !important;
  color: #7c3aed !important;
}

#collasible-nav-dropdown[aria-expanded="true"] {
  background-color: white !important;
  color: #7c3aed !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("/menu-icon.png") !important;
  background-size: contain;
}

.navbar-dark .navbar-toggler {
  border: none !important;
}


/* Fix Mobile Nav */
@media (max-width: 998px) {
  .sign-in {
    padding-right: 26px !important;
    padding-left: 10px !important;
  }

  .sign-in:hover {
    padding-right: 26px !important;
    padding-left: 10px !important;
  }

  .navbar-brand {
    padding-bottom: 10px !important;
    margin-right: 0px !important;
    padding-top: 15px !important;
  }

  .navbrand-header {
    width: 280px;
    height: 40px !important;
  }

  .navbrand-header:hover {
    width: 280px;
    height: 40px !important;
  }
}

/* Modal */

.modal-header .close {
  display: none !important;
}

.preview-img {
  display: block;
}

.hide-input {
  display: none;
}

.btn-dark {
  background-color: #7c3aed !important;
  border: 1px solid #ced4da !important;
}

.btn-dark:hover {
  background-color: white !important;
  color: #7c3aed !important;
  border: 1px solid #ced4da !important;
}

.social-login {
  background-color: #7c3aed !important;
  border: 1px solid #ced4da !important;
  width: 50%;
  margin-bottom: 10px;
  display: flex !important;
  justify-content: center;
}

.social-login:hover {
  background-color: white !important;
  color: #7c3aed !important;
  border: 1px solid #ced4da !important;
  margin-bottom: 10px;
  width: 50%
}

.bg-facebook {
  background-color: #545ceb !important;
}

.bg-google {
  background-color: #dd4b39 !important;
}



@media(max-width: 767px) {
  .social-login {
    width: 100%
  }
  
  .social-login:hover {
    width: 100%
  }


}

/* Popup Card */

.card-img {
  object-fit: cover;
  max-height: 450px;
  min-width: 300px;
}

.whatsapp-logo {
  height: 15px;
  width: 15px;
  display: block;
  margin-right: 10px;
}

.card-contact-section {
  display: flex;
  flex-direction: row;
  line-height: 15px;
}

.card-dogname {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

/* Badges */

.badge-female {
  background-color: #ff95d6;
  color: white;
}

.badge-adoption {
  background-color: #3f00ff !important;
  color: white;
}

/* Leaflet Overrides */

.leaflet-control-zoom {
  display: none;
}


.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.crosshair-cursor {
  cursor: crosshair;
}

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 0;
}
.leaflet-popup-content-wrapper {
  padding: 0;
  text-align: left;
  border-radius: 12px;
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1;
}
.leaflet-popup-content p {
  margin: 0;
}
.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
}
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;

  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

.brand-logo-img {
  max-height: 21px;
}
