.leaflet-container {
    height: 100vh;
    width: 100vw;
}

.leaflet-top {
    top: 55px !important;
  }

.crosshair-cursor {
    cursor: crosshair;
}

.modal-header .close {
    display: none !important;
}

.leaflet-popup-close-button {
    display: none !important;
}



.progress-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    height: 2px;
    width: 35px;
    margin: 5px;
}
